<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>"Michalych IT" service</title>
    <link rel="short icon" type="text/css" href="https://img.icons8.com/pastel-glyph/344/wall-socket--v3.png" />
    <link href={%static 'css/style.css' %} type="text/css" rel="stylesheet">
</head>

<body>
        <center>
    {%for i in about%}
        <ul>
            <li> <span><img src="https://img.icons8.com/cotton/452/wall-socket--v4.png" width = "20" height = "20" border="0" align="left" hspace="3px">"Michalych IT" service</span></li>
            <li> <a href="/"><img src="https://img.icons8.com/ios/344/home--v1.png" width = "20" height = "20" border="0" align="left" hspace="8px">Home</a></li>
            <li><a href="/service/"><img src="https://img.icons8.com/ios/344/online-maintenance-portal.png" width = "20" height = "20" border="0" align="left" hspace="8px">Service</a></li>
            <li><a href="/guides/"><img src="https://img.icons8.com/fluency-systems-regular/344/how-quest--v2.png" width = "20" height = "20" border="0" align="left" hspace="8px">How to repair</a></li>
            <li><a href="/about/" class = "active"><img src="https://img.icons8.com/windows/344/about-us-male--v1.png" width = "20" height = "20" border="0" align="left" hspace="8px">About us</a></li>
            <li><a href="/contacts/"><img src="https://img.icons8.com/windows/344/call-male.png" width = "20" height = "20" border="0" align="left" hspace="8px">Contacts</a></li>
            </ul>
        </center>

                </table>	</td>
        </tr>
        <center><h1 class="call_title">About us</h1></center>
        <p class = "about_text"><h2 align="center" class = "about_head" >History of the company</h2></p>
        <p style="text-align:justify; line-height:170%;" class = "content1">
        <img src="{{i.image1.url}}" width = "200" height = "150" border="0" align="left" hspace="10" style="margin-top:0px; " >{{i.text1_1}} <img src="{{i.image2.url}}" width = "200" height = "150" border="0" align="right" hspace="10" style="margin-top:0px; " > {{i.text1_2}}
        <br>
        </p>
        <h2 align="center" class = "about_head"> Business Philosophy</h2>
        <br>
        <p style="text-align:justify;line-height:120%;" class ="content1">{{i.text2_1}}<img src="{{i.image3.url}}" width = "300" height = "200" border="0" align="left" hspace="10" style="margin-top:0px; " > {{i.text2_2}}
        <br><h3 align ="center">Service center "Michalych IT" </h3></p>
        <center>
            <img src={{i.image_down1.url}} width="120" height = "150">
            <img src={{i.image_down2.url}} width="120" height = "150">
            <img src={{i.image_down3.url}} width="120" height = "150">
        </center>
    {%endfor%}
<tr align="center">
<tr>
    <td>&nbsp;</td>
    <td colspan="2" align="center" class="footer">
            <a href="/" class="footer">Home</a> |
            <a href="/about/" class="footer">About Us</a> |
            <a href="/guides/" class="footer">How to repair</a> |
            <a href="/service/" class="footer">Services</a> |
            <a href="/contacts/" class="footer">Contact Us</a>	</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td colspan="2" align="center"  class="footer"><center><p style="font:normal 11px arial; color:#b1b1b1; display:inline;">Made by <a href="https://www.inai.kg" target="_blank" style="font-size:11px;color::#b1b1b1"> INAI</a> students</p></center></td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td colspan="2" align="right"  class="footer"><span style="font-size: 10px;"></span></td>
</tr>
</table>
</body>
</html>