<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <title>"Michalych IT" service</title>
    <link rel="short icon" type="text/css" href="https://img.icons8.com/pastel-glyph/344/wall-socket--v3.png" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
</head>

<body>
<center>

    <ul>
        <li> <span><img src="https://img.icons8.com/cotton/452/wall-socket--v4.png" width = "20" height = "20" border="0" align="left" hspace="3px">"Michalych IT" service</span></li>
        <li> <a href="/"><img src="https://img.icons8.com/ios/344/home--v1.png" width = "20" height = "20" border="0" align="left" hspace="8px">Home</a></li>
        <li><a href="/service/" class = "active"><img src="https://img.icons8.com/ios/344/online-maintenance-portal.png" width = "20" height = "20" border="0" align="left" hspace="8px">Service</a></li>
        <li><a href="/guides/"><img src="https://img.icons8.com/fluency-systems-regular/344/how-quest--v2.png" width = "20" height = "20" border="0" align="left" hspace="8px">How to repair</a></li>
        <li><a href="/about/"><img src="https://img.icons8.com/windows/344/about-us-male--v1.png" width = "20" height = "20" border="0" align="left" hspace="8px">About us</a></li>
        <li><a href="/contacts/"><img src="https://img.icons8.com/windows/344/call-male.png" width = "20" height = "20" border="0" align="left" hspace="8px">Contacts</a></li>
    </ul>
</center>
{% for i in service %}
    <center><h1 class="call_title">Our services</h1></center>
    <p style="text-align:justify; line-height:170%;" class = "content1">
        <img src="{{ i.image1.url }}" width = "200" height = "150" border="0" align="left" hspace="10" style="margin-top:0px; " >
        {{ i.text_content }}
        <img src="{{ i.image2.url }}" width = "200" height = "140" border="0" align="right" hspace="10" style="margin-top:0px; " >
        <br>
    </p>
    <!--Table prices-->
    <center><h2 class="call_title">Price</h2></center>
    <div class="price">
        <div class="price__item">
            <a href="/form/">
                <em class="price__cost">from {{ i.price1 }} kgz</em>
                <span class="price__service">{{ i.repair1 }} repair</span>
            </a>
        </div>
        <div class="price__item">
            <a href="/form/">
                <em class="price__cost1">from {{ i.price2 }} kgz</em>
                <span class="price__service1">{{ i.repair2 }} repair</span>
            </a>
        </div>
        <div class="price__item">
            <a href="/form/">
                <em class="price__cost">from {{ i.price3 }} kgz</em>
                <span class="price__service">{{i.repair3}} repair</span>
            </a>
        </div>
        <div class="price__item">
            <a href="/form/">
                <em class="price__cost1">from {{ i.price4 }} kgz</em>
                <span class="price__service1">{{ i.repair4}} repair</span>
            </a>
        </div>
        <div class="price__item">
            <a href="/form/">
                <em class="price__cost">from {{ i.price5 }} kgz</em>
                <span class="price__service">{{i.repair5}} repair</span>
            </a>
        </div>
        <div class="price__item">
            <a href="/form/">
                <em class="price__cost1">from {{i.price6}} kgz</em>
                <span class="price__service1">{{i.repair6}} repair</span>
            </a>
        </div>
        <div class="price__item">
            <a href="/form/">
                <em class="price__cost">from {{ i.price7 }} kgz</em>
                <span class="price__service">{{ i.repair7}} repair</span>
            </a>
        </div>
        <div class="price__item">
            <a href="/form/">
                <em class="price__cost1">from {{ i.price8 }} kgz</em>
                <span class="price__service1">{{ i.repair8 }} repair</span>
            </a>
        </div>
        <div class="price__item">
            <a href="/form/">
                <em class="price__cost">from {{ i.price9 }} kgz</em>
                <span class="price__service">{{ i.repair9}} repair</span>
            </a>
        </div>
    </div>
    <p><h3 align ="center">Service center "Michalych IT" </h3></p>
    <center>
        <img src="{{ i.image_down1.url }}" width = "120" height = "150">
        <img src="{{ i.image_down2.url }}" width = "120" height = "150">
        <img src="{{ i.image_down3.url }}" width = "120" height = "150">
    </center>
    <table>
        <tr align="center">
        <tr>
            <td>&nbsp;</td>
            <td colspan="2" align="center" class="footer">
                <a href="/" class="footer">Home</a> |
                <a href="/about/" class="footer">About Us</a> |
                <a href="/guides/" class="footer">How to repair</a> |
                <a href="/service/" class="footer">Services</a> |
                <a href="/contacts/" class="footer">Contact Us</a>	</td>
        </tr>
    </table>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" align="center"  class="footer"><center><p style="font:normal 11px arial; color:#b1b1b1; display:inline;">Made by <a href="https://www.inai.kg" target="_blank" style="font-size:11px;color::#b1b1b1"> INAI</a> students</p></center></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" align="right"  class="footer"><span style="font-size: 10px;"></span></td>
    </tr>
{% endfor %}
</body>
</html>