body{
	background: #FFFAFA url(https://img.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg?w=2000);
	}


span{
        font-family: "Poppins", sans-serif;
        color: white;
        font-weight: bold;
        padding: 14px 85px;
        border-right: none;
        text-align: left;
        display: block;
        text-decoration: none;
        font-size:20px;
        }
.ourVision{
        font-family: Verdana, sans-serif;
        color: #3f3f3f;
        font-weight: bolder;
        font-size:20px;
        }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4169E1;
    top: 0
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size:14px;
}
li a:hover {
    font-size:13px;
    color: #FAEBD7;
    background-color: #4169E1;
}
.active {
    background-color: #ff4f5a;
}

.client_name{
        font-family: "Poppins", sans-serif;
        color: #ff4f5a;
        font-weight: bold;
        font-size:20px;
}
.telephone{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:blue;
		padding-top:5px;
}
.client_info{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#7B68EE;
		padding-top:5px;
		font-weight: bolder;
}

.content1{
		font-family:Open Sans, sans-serif;
		font-size:17px;
		color:#000;
		margin: 15px 30px;
		font-weight: normal;
}
.price {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

.price__item {
  padding: 10px 0;

  background-image: url(data:image/gif;base64,R0lGODlhBAABAPAAAAAAAP///ywAAAAABAABAAACAkReADs=);
  background-position: 0 60%;
  background-repeat: repeat-x;
  background-size: 4px 1px;
}

.price__cost {
  float: right;
  font-family:Verdana, sans-serif;
	font-size: 15px;
  color: #FFFFF0;
  padding-left: 6px;

  background-color: #4169E1;
}
.price__cost1 {
  float: right;
  font-family:Verdana, sans-serif;
	font-size: 15px;
  color: #FFFFF0;
  padding-left: 6px;

  background-color: #6495ED;
}
.price__service {
  padding-right: 6px;
  background-color: #4169E1;
}
.price__service1 {
  padding-right: 6px;
  background-color: #6495ED;
}
.textcols {
	white-space: nowrap;
	font-size: 0;
}
.textcols-item {
	white-space: normal;
	display: inline-block;
	width: 25%;
	vertical-align: top;
	margin-right: 5%;
	font-size: 14px;
}
.textcols .textcols-item:last-child {
	margin-right: 0 ;
}

.link{
    font-family: Verdana, sans-serif;
		font-size:15px;
		color:#FF4500;
		margin: 15px 30px;
}

.call_title{
    font-family: "Bookman Old Style", sans-serif;
        color: black;
        font-weight: bold;
        font-size:50px;
}

.about_head{
        font-family: "Poppins", sans-serif;
        color: black;
        font-weight: bold;
        font-size:25px;
}
.about_text{
		font-family:Open Sans, sans-serif;
		font-size:14px;
		color:#000;
		padding-top:5px;
}

.selectmenu {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:14px;
		color: black ;
}

	.arrow
	{
		margin-top:15px;
		position:absolute;	
		margin-left:-25px;	
		
	}
	.nonmenu
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000;
		padding-top:5px;
	}
	.selectbanner
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#FFFFFF;

	}
	.nonbanner
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		color:#000;

	}
	a
	{
	font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000000;
		text-decoration:none;
		outline: none;
	}
	a:hover
	{
	font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#2358a7;
		text-decoration:none;
		outline: none;
	}
	.guides
	{
		font-family:Verdana, sans-serif;
		font-size:20pt;
		color:#3f3f3f;
		font-weight:bolder;
	}
	.content
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:8pt;
		color:#000;		
	}
	.viewmore
	{
		font-family:Verdana, sans-serif;
		font-size:10px;
		color:#FF4500;
	}
	a.viewmore:hover
	{
		font-family:Verdana, sans-serif;
		font-size:10px;
		color:#FF4500;
		text-decoration:underline;
	}
	.callus
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#3f3f3f;
		font-weight:bolder;
	}
	.footer
	{
	font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#3f3f3f;
		
	}
	a.footer:hover
	{
	font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#2358a7;
		text-decoration:none;
		outline: none;
	}


.index {
	width: 500px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
	}


.floating_button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating_button:hover {
  background: #4168e0;
  box-shadow: 0 15px 20px rgb(9, 47, 240);
  color: white;
  transform: translateY(-7px);
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
   7px 7px 20px 0 rgba(0,0,0,.1),
   4px 4px 5px 0 rgba(0,0,0,.1);
  outline: none;
}
form {
  	padding-top: 10px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.send {
  background-color: #1161ed;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.send:hover {
  background: #4082f5;
  box-shadow: 0 4px 35px -5px #4082f5;
  cursor: pointer;
}

.send:focus {
  outline: none;
}


.center {
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


.ending {
	height: 10em;
   position: relative;
   margin: 0;
   position: absolute;
   top: 90%;
   transform: translate(0, -50%) }


.ending_link {
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


.hr-shelf {
    margin: -30px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 95%;
}